<h1>Otros usuarios</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Doc</th>
      <th>Cargo</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @otros.each do |otro| %>
      <tr>
        <td><%= otro.nombre %></td>
        <td><%= otro.apellido %></td>
        <td><%= otro.doc %></td>
        <td><%= otro.cargo.nombre rescue nil %></td>
        <td><%= link_to 'Ver', otro, :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Editar', edit_otro_path(otro), :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Eliminar', otro, method: :delete, data: { confirm: 'Esta seguro?' }, 
        :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo visitante', new_otro_path, :class => 'btn btn-mini' %>
