<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @otro.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @otro.apellido %>
</p>

<p>
  <strong>Doc:</strong>
  <%= @otro.doc %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @otro.cargo.nombre rescue nil %>
</p>

<% if current_user %> 
<%= link_to 'Editar', edit_otro_path(@otro), :class => 'btn btn-mini btn-success' %> |
<% end %> 
<%= link_to 'Atras', static_pages_home_path, :class => 'btn btn-mini btn-info' %>
