<h1>Cargos</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @cargos.each do |cargo| %>
      <tr>
        <td><%= cargo.nombre %></td>
        <td><%= link_to 'Ver', cargo, :class => 'btn btn-mini btn-info' %></td>
        <td><%= link_to 'Editar', edit_cargo_path(cargo), :class => 'btn btn-mini btn-success' %></td>
        <td><%= link_to 'Eliminar', cargo, method: :delete, data: { confirm: 'Esta seguro?' },
        :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Cargo', new_cargo_path, :class => 'btn btn-default' %>
