<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @aprendiz.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @aprendiz.apellido %>
</p>

<p>
  <strong>Doc:</strong>
  <%= @aprendiz.doc %>
</p>

<p>
  <strong>Centro:</strong>
  <%= @aprendiz.centro.nombre rescue nil %>
</p>

<p>
  <strong>Ficha:</strong>
  <%= @aprendiz.ficha.ficha %>
</p>

<% if current_user %> 
<%= link_to 'Editar', edit_aprendiz_path(@aprendiz), :class => 'btn btn-mini btn-success' %> |
<% end %> 
<%= link_to 'Atras', static_pages_home_path, :class => 'btn btn-mini btn-info' %>
