<h1>Usuario</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Email</th>
      <th>Contraseña</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.crypted_password %></td>
        <td><%= link_to 'Ver', user, class: "btn btn-info" %></td>
        <td><%= link_to 'Editar', edit_user_path(user), class: "btn btn-success" %></td>
        <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Esta seguro?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo usuario', new_user_path, class: "btn btn-default" %>
