<h1>fichas</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Programa</th>
      <th>Ficha</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @fichas.each do |ficha| %>
      <tr>
        <td><%= ficha.programa %></td>
        <td><%= ficha.ficha %></td>
        <td><%= link_to 'Ver', centro_ficha_path(@centro, ficha), :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Editar', edit_centro_ficha_path(@centro, ficha), :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Eliminar', centro_ficha_path(@centro, ficha), method: :delete, data: { confirm: 'Esta seguro?' }, :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new', :default => t("helpers.links.Nuevo")), 
 
new_centro_ficha_path(@centro), :class => 'btn btn­primary' %>
