<h1>Centros</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Fichas</th>
      <th>Nombre</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @centros.each do |centro| %>
      <tr>
        <td><%= link_to 'programas', centro_fichas_path(centro) %></td> 
        <td><%= centro.nombre %></td>
        <td><%= link_to 'Ver', centro, :class => 'btn btn-mini btn-info' %></td>
        <td><%= link_to 'Editar', edit_centro_path(centro), :class => 'btn btn-mini btn-success' %></td>
        <td><%= link_to 'Eliminar', centro, method: :delete, data: { confirm: 'Esta seguro?' },
        :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Centro', new_centro_path, :class => 'btn btn-default' %>
