
<li><%= link_to "Home", static_pages_home_path, class: 'navbar-brand' %></li>

<% if current_user %>
	<li><%= link_to 'Aprendices', aprendizs_path, class: 'navbar-brand' %></li>
	<li><%= link_to 'Visitantes', otros_path, class: 'navbar-brand' %></li>
	<li><%= link_to 'Cargo', cargos_path, class: 'navbar-brand' %></li>
	<li><%= link_to 'Centro', centros_path, class: 'navbar-brand' %></li>
	<li><%= link_to 'Ficha', fichas_path, class: 'navbar-brand' %></li>
<% end %> 
